<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>YouTube to WhatsApp</title>
</head>

<body>
  <header>
    <%- include('header'); %>
  </header>
  <div class="MainContainer">

    <div class="Search">
      <form method="post" action="/">
        <h2 class="LabelSearch">COLE ABAIXO O LINK DO VIDEO QUE DESEJA BAIXAR</h2>
        <input type="text" placeholder="Cole aqui o link do seu video" class="URL-input" name="link">
        <button class="convert-button" type="submit"> CONVERTER </button>
      </form>

      <% if (!!url) { %>
      <form method="get" action="/video">
        <a href="<%=src%>" download>DOWNLOAD</a>
      </form>
      <% } %>

      <div class="TutorialDiv">
        <h2 class="TutorialTitle">Não sabe como encontrar e colar o link do video?</h2>
        <h2 class="TutorialText">Assista o video abaixo para aprender :</h2>
        <iframe class="TutorialVideo" width="560" height="315" src="<%= url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  </div>
</body>

</html>

</div>
</body>

</html>