<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>YouTube to WhatsApp</title>
</head>

<body>
    <header>
        <%- include('header'); %>    
    </header>
    <div class="MainContainer">

        <div class="Search">

        <form action="">
           <h2 class="LabelSearch">COLE ABAIXO O LINK DO VIDEO QUE DESEJA BAIXAR</h2>
            <input type="text" placeholder="Cole aqui o link do seu video" class="InputSearch">
            <button class="ButtonSearch"> CONVERTER </button>
        </form>
        <div class="TutorialDiv">
            <h2 class="TutorialTitle">Não sabe como encontrar e colar o link do video?</h2>

            <h2 class="TutorialText">Assista o video abaixo para aprender :)</h2>
            <iframe class="TutorialVideo" width="560" height="315" src="https://www.youtube.com/embed/tUwy5X0PWH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
       


        </div>
    </div>
</body>
</html>